<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.dii.unipi.trainerapp">

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <!-- <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> -->

    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- Activity Recognition permissions -->
    <!-- Required for 28 and below. -->
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" /> <!-- Required for 29+. -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.BODY_SENSORS" /> <!-- Location permissions -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!--  -->
    <uses-feature android:name="android.hardware.type.watch"  />

    <!-- inside application tag place the following attributes for retro-compatibility with old hardware:
            android:hardwareAccelerated="false"
            android:largeHeap="true"
    -->
    <application
        android:name="it.dii.unipi.trainerapp.AthleteSideApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@android:style/Theme.DeviceDefault">
        <service android:name="it.dii.unipi.trainerapp.GATTclient.GATTClientService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity
            android:name="it.dii.unipi.trainerapp.SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            />
        <activity
            android:name="it.dii.unipi.trainerapp.NamePopUpActivity"
            android:exported="false" />
        <activity
            android:name="it.dii.unipi.trainerapp.SensorActivity"
            android:exported="false" />

        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name="it.dii.unipi.trainerapp.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="it.dii.unipi.trainerapp.ActivityRecognizedService" />
    </application>

</manifest>